capstone/새 폴더/result.csv
capstone/새 폴더/out.csv
capstone/새 폴더/dataset
capstone/새 폴더/2_2.csv
capstone/새 폴더/2.csv
capstone/새 폴더/1_2.csv
capstone/새 폴더/1.csv
capstone/dataset.csv
capstone/새 폴더/새 텍스트 문서.txt
capstone/새 폴더/a.txt
capstone/.ipynb_checkpoints/1-checkpoint.csv
